<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="AgroManagerModel" connectionString="data source=31.147.206.65;initial catalog=RPP2425_08_DB;user id=RPP2425_08_User;password=N&amp;_9eCe);trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>